.colorOccident
{
    color:#349dff!important;
}
.backgroundWhite
{
    background-color: white!important;
}
.test
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.flexx
{
    display: flex;
}
.objt
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .775rem 1.15rem;
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    border-right: 0.5px solid #dfdfdf;
}
.objRight
{
    padding: .775rem 1.15rem;
}
.textOccident
{
    font-size: .8rem!important;
    color:gray!important;
}
.textDataOccident
{
    font-size: .8rem!important;
    font-weight: 700;
}
.titles-muli {
    font-family: 'Muli';
    font-weight: 700;
    font-style: normal;
}
.firstBody
{
    padding: 1.25rem 1.25rem 0rem 1.25rem!important;
}
.secondBody
{
    padding: 0rem 1.25rem 1.25rem 1.25rem!important;
}
.tirdthBody
{
    padding: 0rem 1.25rem 0rem 1.25rem!important;
}
.important
{
    color:#349dff!important;
    font-weight: 900;
}
.inputOccidentLeft
{
    background-color: white!important;
    border-style: solid!important;
    border-color:#ced4da!important;
    border-width: 1px 0px 1px 1px!important;
}
.inputOccidentRight
{
    border-style: solid!important;
    border-color:#ced4da!important;
    border-width: 1px 1px 1px 0px!important;
}
.text-danger
{
    font-size: .8rem!important;
}