<div class="container">
  <div class="row d-flex justify-content-center">
      <div class="card mt-4 col-md-8 col-sm-12 px-0">
        <form [formGroup]="userdata" action="#" method="post"  novalidate>
          <div class="card-header test colorOccident p-0 backgroundWhite">
              <div class="flexx">
                <div class="objt"><i class="far fa-user-circle m-0" aria-hidden="true"></i></div>
              </div>
              <h4 class="objRight m-0 titles-muli">Bienvenido(a) Luisa</h4>
          </div>
          <div class="card-body firstBody">
            <div class="container">
              <div class="row">
                <h4 class="mb-0 titles-muli">Vamos a iniciar la solicitud de tu cliente</h4>
                <span class="textOccident">Comencemos diligenciando la información básica</span>
              </div>
            </div>
          </div>
          <hr>
          <div class="card-body secondBody">
            <div class="container">
              <div class="row">
                <div class="form-group col-md-6 col-sm-12 pl-0">
                  <label for="first_name" class="textOccident">Primer nombre <span class="important">*</span></label>
                  <input type="text" formControlName="first_name" class="form-control" id="first_name">
                  <div *ngIf="userdata.controls['first_name'].invalid && (userdata.controls['first_name'].dirty || userdata.controls['first_name'].touched)" >
                      <div *ngIf="userdata.controls['first_name'].errors.required">
                        <p class="text-danger m-0">El campo nombre es obligatorio</p>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-12 pl-0">
                  <label for="first_lastname" class="textOccident">Primer Apellido <span class="important">*</span></label>
                  <input type="text" formControlName="first_lastname" class="form-control" id="first_lastname">
                  <div *ngIf="userdata.controls['first_lastname'].invalid && (userdata.controls['first_lastname'].dirty || userdata.controls['first_lastname'].touched)" >
                    <div *ngIf="userdata.controls['first_lastname'].errors.required">
                      <p class="text-danger m-0">El campo apellido es obligatorio</p>
                  </div>
                </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 col-sm-12 pl-0">
                  <label for="document" class="textOccident">Número de cédula <span class="important">*</span></label>
                  <input type="number" formControlName="document" class="form-control" id="document" min="0" maxlength="10">
                  <div *ngIf="document.invalid && (document.dirty || document.touched)" >
                    <div *ngIf="document.errors.required">
                        <p class="text-danger m-0">El campo número de cédula es obligatorio</p>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-12 pl-0">
                  <label for="city" class="textOccident">Ciudad de residencia <span class="important">*</span></label>
                  <input id="city" formControlName="city" type="text" class="form-control" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter"/>
                  <ng-template #rt let-r="result" let-t="term">
                    <ngb-highlight [result]="r.city_name" [term]="t"></ngb-highlight>
                  </ng-template>
                  <div *ngIf="userdata.controls['city'].invalid && (userdata.controls['city'].dirty || userdata.controls['city'].touched)" >
                    <div *ngIf="userdata.controls['city'].errors.required">
                        <p class="text-danger m-0">El campo ciudad es obligatorio</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6 col-sm-12 pl-0">
                  <label for="phone" class="textOccident">Número de celular <span class="important">*</span></label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text inputOccidentLeft"><i class="fas fa-mobile-alt colorOccident"></i></div>
                    </div>
                    <input type="text" formControlName="phone" id="phone" class="form-control inputOccidentRight" mask="000 0000000" [validation]="true"  placeholder="xxx xxxxxxx">
                  </div>
                  <div *ngIf="userdata.controls['phone'].invalid && (userdata.controls['phone'].dirty || userdata.controls['phone'].touched)" >
                    <div *ngIf="userdata.controls['phone'].errors.required">
                        <p class="text-danger m-0">El número de celular es obligatorio</p>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-12 pl-0">
                  <label for="email" class="textOccident">Correo electrónico <span class="important">*</span></label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text inputOccidentLeft"><i class="far fa-envelope colorOccident"></i></div>
                    </div>
                    <input type="text" formControlName="email" class="form-control inputOccidentRight" id="email" placeholder="xxx@dominio.com">
                  </div>
                  <div *ngIf="userdata.controls['email'].invalid && (userdata.controls['email'].dirty || userdata.controls['email'].touched)" >
                    <div *ngIf="userdata.controls['email'].errors.required">
                        <p class="text-danger m-0">El correo electrónico es obligatorio</p>
                    </div>
                  </div>
                </div>
              </div>
              <p class="textDataOccident text-right"> Datos obligatorios (<span class="important">*</span>)</p> 
            </div>
          </div>
          <hr>
          <div class="card-body tirdthBody">
            <div class="container">
              <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary mb-2" (click)="sendForm()">Continuar</button>
              </div>
            </div>
          </div>
          </form>
      </div>
  </div>
</div>
