/* You can add global styles to this file, and also import other style files */
/*@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
*/
@import 'assets/fonts/Muli/stylesheet.css';

body{
    font-family: 'Muli'!important;
    background-color: #fafdff!important;
}
.principalColor
{
    background-color: #1c7cb9!important;
}
.logoOccidente
{
    height: 55px!important;
}
.logo
{
    align-self: center;
}
.allwidth
{
    width: 100%;
}